{% extends "boot_admin/layout.html" %}
{% load humanize %}
{% load static %}

{% block message %}

<h4>
    <img src="{% static "img/boot_admin/setting.svg" %}" alt="">
    <span>
    대시보드<small> 페이지를 관리하세요. </small>
    </span>
</h4>

{% endblock %}

{% block message_detail %}

대시보드의 모든 작업은 데이터베이스에 기록됩니다.

{% endblock %}

{% block content %}
<div class="col-md-9">
    <div class="list-group">
        <a href="index.html" class="list-group-item active">관리 페이지 둘러보기</a>
        <div class="list-group-item">
            <div class="row m-1">
                <div class="col-md-3 text-center bg-light p-5">
                    <img src="{% static "img/boot_admin/event.svg" %}" alt="">
                    <h3>205</h3>
                    <h5>이벤트</h5>
                </div>
                <div class="col-md-3 text-center bg-light p-5">
                    <img src="{% static "img/boot_admin/edit.svg" %}" alt="">
                    <h3>98</h3>
                    <h5>블로그</h5>
                </div>
                <div class="col-md-3 text-center bg-light p-5">
                    <img src="{% static "img/boot_admin/user.svg" %}" alt="">
                    <h3>2050</h3>
                    <h5>회원</h5>
                </div>
                <div class="col-md-3 text-center bg-light p-5">
                    <img src="{% static "img/boot_admin/chart.svg" %}" alt="">
                    <h3>33205</h3>
                    <h5>방문자</h5>
                </div>
            </div>
        </div>
        <div class="list-group mt-3">
            <a href="#" class="list-group-item active">방문자 지수</a>
            <div class="list-group-item"><canvas id="lineChart"></canvas></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<!-- MDB 라이브러리 추가하기 -->
<script src="{% static 'js/mdb.min.js'%}"></script>
<script>
    var ctxL = document.getElementById("lineChart").getContext("2d");
    var myLineChart = new Chart(ctxL, {
        type: "line",
        data: {
            labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월"],
            datasets: [{
                    label: "유입 방문자",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [530, 5548, 9673, 10230, 19432, 36559, 58575]
                },
                {
                    label: "무효 방문자",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [37, 539, 1050, 2035, 4553, 5042, 7285]
                }
            ]
        },
        options: {
            responsive: true
        }
    });
</script>
{% endblock %}