{% extends "layout.html" %}

{% load humanize %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/dsschool/custom.css' %}">
{% endblock %}

{% block app_content %}
<br>
<div class="container mt-5 col-lg-12">
  <ol class="breadcrumb col-lg-12">
    <li class="active">
      ▶︎ DSSchool의 강의 가격을 크롤링한 사이트입니다. <br>
        &nbsp;&nbsp; - 크롤링: BeautifulSoup<br>
        &nbsp;&nbsp; - 데이터처리: Pandas, Numpy <br>
        &nbsp;&nbsp; - DB: SQLlite<br>
        &nbsp;&nbsp; - 백엔드: Django (DB -> HTML)<br>
    </li>
  
  </ol>
</div>

    <main id="main" class="col-md-12 col pl-md-5 pt-3 mb-5 main">

      {% block main %}

      {% block main_add %}
      {% endblock %}

      {% endblock %}

    </main>

  </div>
</div> 

{% endblock %}